@import '../../../styles/app.scss';

.favoriteButton{
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 56px;
  height: 45px;
  position: absolute;
  right: 0px;
  top: 0px;
  @include breakpoint(smm){
    width: 64px;
    height: 60px;
    position: unset;
  }
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  &.isActive{
    background-color: $a1;
  }
  img{
    width: 24px;
  }
}