@import '../../../styles/app.scss';

.favItem{
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 12px;
  gap: 8px;
  .leftSide{
    img{
      height:50px;
    }
  }
  .rightSide{
    h2{
      font-family: $text-font-stack;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $c5;
      margin-bottom: 1px;
    }
    p{
      font-family: $text-font-stack;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $c4;
      svg{
        fill: $a0;
        cursor: pointer;
      }
    }
  }
}